<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/nullstyle.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
<header class="header">
    <div class="logo">
        <img src="images/logo.svg" alt="logo image">
        <h1>CONQUEST</h1>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="">Каталог</a></li>
            <li><a href="">Акции</a></li>
            <li><a href="">Доставка</a></li>
            <li><a href="">Контакты</a></li>
        </ul>
    </nav>
    <div class="shop_ui">
        <div class="magnifyingGLass">
            <img src="images/magnifyingGLass.svg" alt="image of magnifyingGlass">
        </div>
        <div class="heart">
            <img src="images/heart.svg" alt="image of Heart">
            <div class="favouritesCount">
                <span>1</span>
            </div>
        </div>
        <div class="cart">
            <img src="images/cart.svg" alt="image of Cart">
        </div>
    </div>
</header>

<main>
    <article class="banner">
        <div class="container">
            <div class="banner_text">
                <h2><span>Весна/Лето 2019</span> <br> Коллекция</h2>

                <p>Швейцарские часы в наличии в <br>Москве <br>
                    и с доставкой по всему миру</p>
                <button>Смотреть каталог</button>
            </div>
            <div class="banner_image">
                <p class="price">22 000 &#x20BD;</p>
<!--                                    <img src="/files/watch_main.png" alt="image of watch">-->
                <p class="diameter">28 мм диаметр</p>
            </div>
        </div>
    </article>
<!--                           Популярные модели-->
    <article class="popular">
        <div class="container">

            <div class="popular_header">
                <h2>Популярные модели</h2>
                <a href="">Смотреть все</a>
            </div>

            <div class="popular_body">
                <div class="popular_item">
                    <h3>RADO</h3>
                    <p>65 300 &#8381</p>
                    <div><img src="files/popular_watch_1.png" alt="image of Rado watch"></div>
                    <a href="">Подробнее</a>
                </div>

                <div class="popular_item">
                    <h3>BVLGARI</h3>
                    <p>81 700 &#8381</p>
                    <div><img src="files/popular_watch_2.png" alt="image of BVLGARI watch"></div>
                    <a href="">Подробнее</a>
                </div>

                <div class="popular_item">
                    <h3>BVLGARI</h3>
                    <p>72 700 &#8381</p>
                    <div><img src="files/popular_watch_3.png" alt="image of BVLGARI watch"></div>
                    <a href="">Подробнее</a>
                </div>
            </div>
        </div>
    </article>

    <article class="about_us">
        <section class="intro">
            <div class="container">
                <div class="intro_banner">
                    <img src="./files/intro_photo.jpg" alt="image of watch">
                    <p class="intro_arrows"><a href="">&lt;</a> 01 <a href="">&gt;</a></p>
                </div>

                <div class="intro_text">
                    <h3>Подлинное качество</h3>
                    <p>Все часы производятся в Швейцарии и имеют <br>сертификаты качества.
                        Настоящие швейцарские <br>часы — это предмет гордости и престижа.</p>
                    <button>СМОТРЕТЬ КАТАЛОГ</button>
                </div>
            </div>
        </section>

        <section class="follow">
            <div class="container">
                <div class="interaction">
                    <h3>Следите за нашими новостями</h3>
                    <p>Подписывайтесь на <span>@conquest_watch</span> в соцсетях <br> и узнавайте о новинках и акциях
                        первыми.</p>
                    <div>
                        <a href="#"><img src="./images/instagram_icon.svg" alt="instagram icon link"></a>
                        <a href="#"><img src="./images/facebook_icon.svg" alt="facebook icon link"></a>
                        <a href="#"><img src="./images/twitter_icon.svg" alt="twitter icon link"></a>
                    </div>
                </div>

                <div class="images">
                    <div class="images_item1"><img src="./files/follow_photo_1.jpg" alt="small photo of watch"></div>
                    <div class="images_item2"><img src="./files/follow_photo_2.jpg" alt="small photo of watch"></div>
                    <div class="images_item3"><img src="./files/follow_photo_3.jpg" alt="big photo of watch"></div>
                </div>
            </div>
        </section>
    </article>

</main>

<!--            FOOTER          -->

<footer class="footer">
    <div class="container">

        <div class="footer_item">
            <div class="logo">
                <img src="images/logoFooter.svg" alt="logo image">
                <h4>CONQUEST</h4>
            </div>

            <a href="#">8 (499) 450-47-97
            </a>
            <a href="#">info@conquest.watch.ru</a>
        </div>

        <div class="footer_item">
            <h5>о компании</h5>
            <a href="#">Наши магазины</a>
            <a href="">Вакансии</a>
            <a href="">Сертификаты</a>
            <a href="">Отзывы</a>
        </div>

        <div class="footer_item">
            <h5>покупателям</h5>
            <a href="#">Каталог товаров</a>
            <a href="">Как заказать?</a>
            <a href="">FAQ</a>
            <a href="">Корпоративным клиентам</a>
        </div>

        <div class="footer_item">
            <h5>оплата и доставка</h5>
            <a href="#">Возврат и компенсация</a>
            <a href="">Гарантии и ремонт</a>
            <a href="">Время доставки</a>
            <a href="">Возврат и компенсация</a>
        </div>
    </div>
</footer>
</body>
</html>