@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.logo {
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 3%;
  height: 5vh;
  width: 5vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3vh 5vw;
  align-items: center;
  color: #555248;
}
.header a {
  color: #555248;
}
@media screen and (orientation: portrait), (max-width: 920px) {
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 1vh 3vw 0 3vw;
  }
}
@media screen and (orientation: portrait) and (orientation: portrait), screen and (orientation: portrait) and (max-width: 480px), screen and (max-width: 920px) and (orientation: portrait), (max-width: 920px) and (max-width: 480px) {
  .header {
    padding: 1vh 3vw 0 3vw;
    display: flex;
    flex-direction: column;
  }
  .header > * {
    padding: 5px 0;
  }
}
.header h1 {
  font-weight: 400;
  letter-spacing: 0.3vw;
  font-size: 3vh;
}
.header nav {
  width: 40%;
  font-size: 14px;
}
@media screen and (orientation: portrait), (max-width: 920px) {
  .header nav {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: stretch;
    display: flex;
    align-items: center;
    width: 80%;
  }
  .header nav li {
    font-size: 16px;
  }
}
@media screen and (orientation: portrait) and (orientation: portrait), screen and (orientation: portrait) and (max-width: 480px), screen and (max-width: 920px) and (orientation: portrait), (max-width: 920px) and (max-width: 480px) {
  .header nav {
    align-self: center;
  }
  .header nav ul {
    flex-direction: column;
    align-items: center;
  }
  .header nav ul li {
    margin-bottom: 5px;
  }
}
.header nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.header .shop_ui {
  display: flex;
  justify-content: space-between;
  width: 8%;
  height: fit-content;
}
@media screen and (max-width: 1100px) {
  .header .shop_ui {
    width: 120px;
  }
}
@media screen and (orientation: portrait), (max-width: 920px) {
  .header .shop_ui {
    justify-self: end;
  }
}
.header .shop_ui img {
  vertical-align: middle;
}
.header .shop_ui .heart {
  position: relative;
  height: fit-content;
}
.header .shop_ui .heart .favouritesCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -25%;
  right: -35%;
  background: center/cover no-repeat url("./../images/elliplseForHeart.svg");
}
.header .shop_ui .heart .favouritesCount p {
  height: 100%;
  font-size: 12px;
  text-align: center;
}

.banner {
  overflow: hidden;
}
.banner .container {
  margin: 0 auto;
  max-height: 900px;
  min-height: 700px;
  display: grid;
  grid-template-columns: 4fr 5fr;
  justify-items: center;
  background: center left 95%/contain no-repeat url("./../files/watch_main.png");
}
@media screen and (max-width: 1300px) {
  .banner .container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 600px;
  }
  .banner .container .diameter {
    left: 3%;
  }
  .banner .container .diameter:before {
    right: 20%;
  }
}
@media screen and (max-width: 1100px) {
  .banner .container {
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: 3fr 5fr;
  }
  .banner .container h2 span {
    font-size: 30px;
  }
  .banner .container .diameter:before {
    right: 20%;
  }
  .banner .container .price {
    left: 28%;
  }
}
@media screen and (max-width: 1100px) and (max-width: 1024px) {
  .banner .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .banner .container .price {
    left: 15%;
  }
  .banner .container .price:after {
    left: 17%;
  }
  .banner .container .diameter {
    left: 10%;
  }
  .banner .container .diameter:before {
    right: 25%;
  }
}
@media screen and (max-width: 1100px) and (max-width: 1024px) and (max-width: 950px) {
  .banner .container {
    max-width: 700px;
  }
  .banner .container .price {
    left: 13%;
  }
  .banner .container .price:after {
    left: 15%;
    width: 2vw;
  }
  .banner .container .diameter {
    left: 3%;
  }
  .banner .container .diameter:before {
    right: 25%;
    width: 2vw;
  }
}
@media screen and (max-width: 1100px) and (max-width: 1024px) and (max-width: 769px) {
  .banner .container .diameter {
    left: 0;
  }
  .banner .container .diameter:before {
    right: 25%;
    width: 2vw;
  }
}
@media screen and (orientation: portrait) and (max-width: 480px) {
  .banner .container {
    min-height: 550px;
    display: flex;
    background: center right -45%/90% auto no-repeat url("./../files/watch_main.png");
    align-items: stretch;
  }
  .banner .container .banner_image {
    display: none;
  }
  .banner .container .banner_text {
    justify-content: space-between;
    flex-basis: 100%;
  }
  .banner .container .banner_text h2 {
    align-self: center;
    padding-top: 10px;
    margin-bottom: 15px;
  }
  .banner .container .banner_text p {
    padding: 20px 50% 20px 10px;
    font-size: 18px;
    flex-basis: 50%;
    margin: 0;
  }
  .banner .container .banner_text button {
    padding: 15px 5px;
    margin: 0;
    align-self: center;
  }
}
.banner_text {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner_text * {
  margin-bottom: 7vh;
}
.banner_text h2 {
  font-size: 30px;
  vertical-align: bottom;
  line-height: 1em;
  font-family: "Playfair Display", serif;
  color: #1B1A17;
}
.banner_text h2 span {
  font-size: 45px;
  position: relative;
}
.banner_text h2 span:before {
  position: absolute;
  right: 110%;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-color: #8B8371;
  height: 0.01vw;
  width: 3vw;
  display: block;
}
.banner_text p {
  color: rgba(27, 26, 23, 0.82);
  line-height: 1.5em;
  font-size: 14px;
  font-weight: 300;
}
.banner_text button {
  font-size: 12px;
  padding: 20px 25px;
  border: none;
  color: #fff;
  background: #444240;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.banner_image {
  width: 100%;
  justify-self: center;
}
.banner_image .price {
  position: relative;
  top: 15%;
  left: 25%;
  color: #1B1A17;
}
.banner_image .price:after {
  position: absolute;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-color: #8B8371;
  height: 0.01vw;
  width: 3vw;
  display: block;
}
.banner_image .diameter {
  position: relative;
  top: 85%;
  left: 5%;
  color: #1B1A17;
  text-align: right;
}
.banner_image .diameter:before {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-color: #8B8371;
  height: 0.01vw;
  width: 3vw;
  display: block;
}
.banner_image img {
  height: 100vh;
}

.popular .container {
  display: grid;
  margin: auto;
  grid-row-gap: 50px;
}
@media screen and (max-width: 1300px) {
  .popular .container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1100px) {
  .popular .container {
    max-width: 800px;
  }
  .popular .container .popular_header {
    height: 70px;
  }
  .popular .container .popular_item {
    max-width: 250px;
  }
  .popular .container .popular_item img {
    max-width: 250px;
  }
}
@media screen and (max-width: 900px) {
  .popular .container {
    grid-row-gap: 30px;
    max-width: 650px;
  }
  .popular .container .popular_item {
    max-width: 200px;
  }
  .popular .container .popular_item img {
    max-width: 200px;
  }
}
.popular .container_item {
  font-family: "Playfair Display", serif;
  align-self: start;
}
.popular .container_item div {
  max-width: 100%;
  text-align: center;
}
.popular .container_item h3 {
  color: rgba(27, 26, 23, 0.82);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 1.5vh;
}
.popular .container_item p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(27, 26, 23, 0.82);
  font-family: "Prata", serif;
}
.popular .container_item a {
  position: relative;
  color: #1B1A17;
  font-size: 16px;
  line-height: 100%;
}
.popular .container_item a:before {
  position: absolute;
  right: 130%;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-color: #8B8371;
  height: 0.01vw;
  width: 2vw;
  display: block;
}
@media screen and (max-width: 769px) {
  .popular .container .popular_body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popular .container .popular_body .popular_item {
    margin-bottom: 20px;
    text-align: center;
    max-width: 400px;
  }
  .popular .container .popular_body .popular_item * {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .popular .container .popular_body .popular_item img {
    max-width: 400px;
  }
}
.popular_header {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: end;
}
.popular_header h2 {
  grid-column: 2/3;
  justify-self: center;
  margin-bottom: 0.7em;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #1B1A17;
}
.popular_header a {
  justify-self: end;
  color: #444240;
  border-bottom: 1px solid #C4C0B6;
  padding-bottom: 5px;
}
.popular_body {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-self: start;
}

.intro {
  background: center/cover no-repeat url("./../images/Component_1.png");
}
.intro_banner {
  width: 45vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.intro_banner img {
  height: 80%;
  align-self: flex-end;
}
.intro_banner p {
  text-align: right;
  position: absolute;
  bottom: 2vh;
  right: 5vw;
}
.intro_text {
  width: 45vw;
  padding: 23vh 5vw;
}
.intro_text h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 1.5em;
}
.intro_text p {
  margin-bottom: 3.5em;
  line-height: 1.5em;
}
.intro_text button {
  padding: 3vh 3vw;
  border: none;
  color: #fff;
  background: #D4B098;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.intro .container {
  height: 80vh;
  display: flex;
}

.follow .container {
  height: auto;
  display: flex;
  padding: 15vh 7vw;
  justify-content: space-between;
}
.follow .container .interaction {
  display: grid;
  grid-template-rows: 43% 43% 14%;
}
.follow .container .interaction h3 {
  margin-bottom: 8%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32px;
  color: #1B1A17;
  align-self: end;
}
.follow .container .interaction p {
  color: #444240;
}
.follow .container .interaction p span {
  font-weight: 700;
  color: #262421;
  line-height: 3em;
}
.follow .container .interaction div * {
  margin-right: 3%;
}
.follow .container .images {
  width: 55%;
  height: auto;
  display: grid;
  grid-template-columns: minmax(2fr, auto) minmax(3fr, auto);
  grid-template-rows: minmax(1fr, auto) minmax(1fr, auto);
  grid-gap: 1vw;
}
.follow .container .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.follow .container .images_item3 {
  width: content-box;
  grid-column: 2/3;
  grid-row: 1/3;
}
.follow .container .images_item3 img {
  height: 100%;
}

.footer {
  background-color: #444240;
  color: #fff;
}
.footer .container {
  padding: 3em 0;
  height: auto;
  display: grid;
  grid-template-columns: minmax(25%, 30%) 1fr 1fr 1fr;
}
.footer .container > div:first-child {
  padding-left: 25%;
}
.footer .logo {
  align-items: flex-end;
  letter-spacing: 0.3vw;
  margin-bottom: 2vh;
}
.footer .logo h4 {
  font-weight: 300;
}
.footer_item {
  display: flex;
  flex-direction: column;
}
.footer_item h5 {
  font-size: 1.5em;
  margin-bottom: 3vh;
}
.footer_item a {
  margin-bottom: 1em;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
